<%- include('partials/header'); %>
<div class="menu-grid-container">
  <% listNames.forEach((listName) => { %>
    <div class="menu-grid-item">
      <a href="/<%= listName.list_name_encoded %>"><%= listName.display_name %></a>
    </div>
  <% }); %>
</div>

<div class="title-container">
  <h1><%= pageTitle %></h1>
</div>

<div class="books-grid-container">
  <% books.forEach((book) => { %>
  <div class="book-grid-item">
    <h3><%= book.rank %>   <%= book.rankIcon %></h3>
    <h3><%= book.name %></h3>
    <p><%= book.description %></p>
    <img src="<%= book.imageURL %>" alt="<%= book.name %>">
  </div>
  <% }); %>
</div>

<%- include('partials/footer'); %>
